<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Expression.Interaction" version="3.0.40218.0" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net472" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="NLog" version="4.7.0" targetFramework="net472" />
  <package id="NLog.Config" version="4.7.0" targetFramework="net472" />
  <package id="NLog.Schema" version="4.7.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.13.1" targetFramework="net472" />
  <package id="Selenium.WebDriver.PhantomJS.CrossPlatform" version="2.1.1" targetFramework="net472" />
  <package id="Selenium.WebDriver.PhantomJS.Xplatform" version="2.45.0.1" targetFramework="net472" />
  <package id="Serilog" version="2.8.0" targetFramework="net472" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net472" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net472" />
  <package id="Sharlayan" version="5.0.6" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>